
/**
 *
 *   GANTT STYLING: use and adjust this
 *
 */

// VARS
$gantt-animation-duration: 200ms;
$gantt-line-height: 40px;
$gantt-line-bar-height: 36px;
$gantt-line-title-width: 200px;

$gantt-border-color: #ccc;
$gantt-grid-border-color: #efefef;
$gantt-weekend-background: #efefef;



// **************************
//   MAIN gantt-chart
// **************************

.gantt-chart {
  position: relative;
}
.gantt-chart-inner {
  overflow-x: scroll;
  overflow-y: hidden;

  padding-bottom: 50px;
  background: #fff;
  border: 1px solid $gantt-border-color;
}

.gantt-titles-background {
  position: absolute;
  top: 1px; // border!
  height: calc(100% - 2px); // minus borders
  width: $gantt-line-title-width;

  z-index: 3;

  background: #fff;
}






// **************************
//   TIMELINE
// **************************

// set timeline styles (e.g. borders etc.) here, so its applied for header + grid


// vertical grid & scale
// ------------------------


.gantt-timeline {

  // position: relative; // lines above grid (so borders are visible if needed)
  // border-bottom: 1px solid $gantt-grid-border-color;
  margin-left: $gantt-line-title-width; // place for title

  // grid lines (full height)
  .gantt-timeline-grid {
    position: relative;
    height: 100%;
  }

  .gantt-timeline-vertical-grid {
    position: absolute;
    top: 0;
    height: 99999999px;

    .gantt-timeline-months,
    .gantt-timeline-month,
    .gantt-timeline-days,
    .day  {
      height: 100%;
      min-height: 100%;
    }
  }


  // keep aside
  .gantt-timeline-cws,
  .gantt-timeline-months,
  .gantt-timeline-days {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }



  // DAYs
  .day {
    display: inline-block;
    height: 20px;
    // width: !!! width is set by chart-component globally (allows zooming)
    box-sizing: border-box; // ! important for calculations! border should not be calculated

    transition: width $gantt-animation-duration ease-out;

    background: #fff;
    // border-left: 1px solid transparent;
    // border-top: 1px solid $gantt-border-color;
    border-left: 1px solid $gantt-grid-border-color;
  }

  .day-weekend {
    background: $gantt-weekend-background;
    border-color: #fff;
  }
}

// header
// ------------------------

.gantt-chart-header {
  box-sizing: border-box;
  height: 110px;
  z-index: 1;

  .gantt-header-title {
    position: absolute;
    left: 1px; // border
    height: 110px;
    width: $gantt-line-title-width;
    z-index: 4;

    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    background: #fff;
  }

  // sticky
  &.gantt-chart-header-sticky .gantt-chart-header-inner {
    position: fixed;
    overflow: hidden;
    z-index: 4;
    padding-left: ($gantt-line-title-width+1);

    .gantt-header-title {
      z-index: 5;
    }
  }

  .gantt-timeline-scale {
    position: relative;
    background: #fff;
  }

  // MONTHs
  .gantt-timeline-months {
    border-right: 1px solid $gantt-border-color;
  }
  .gantt-timeline-month {
    display: inline-block;
    box-sizing: border-box; // ! important for calculations! border should not be calculated
    transition: width $gantt-animation-duration ease-out;

    border-bottom: 1px solid $gantt-border-color;
  }
  .gantt-timeline-month-name {
    background: #fff;
    font-size: initial;

    span {
      padding: 10px;
      display: block;
      border-left: 1px solid $gantt-border-color;
    }
  }

  // calendar weeks
  .gantt-timeline-cws {
    border-right: 1px solid $gantt-border-color;

    .cw {
      border-right: 1px solid $gantt-border-color;
      border-bottom: 1px solid $gantt-border-color;
      text-align: center;
      box-sizing: border-box; // ! important for calculations! border should not be calculated
    }
  }

  // day format in header scale
  .gantt-timeline-days {
    border-right: 1px solid $gantt-border-color;

    .day {
      padding: 2px 0;
      font-size: 12px;
      text-align: center;
      // borders are set for grid and header above
    }
  }

}

// today
// ------------------------
.gantt-timeline-today {
  position: absolute;
  top: 61px;
  height: 99999999px;

  z-index: 2;

  border-left: 1px solid #444;

  > div {
    position: relative;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 7px solid #444;
  }
}



// **************************
//   LINE / BAR
// **************************

.gantt-line-wrap {
}
.gantt-line {
  height: $gantt-line-height;
  border: none;

  .gantt-line-timeline {
    position: relative; // scroll with grid
    margin-left: $gantt-line-title-width;

    // border-bottom: 1px solid red; // DEBUG
  }
}

.gantt-line-title {
  position: absolute;
  height: $gantt-line-height;
  width: $gantt-line-title-width;
  z-index: 3;
  display: table; // used to vertical-align text in middle

  // background: #fff; // -> use background

  span {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
  }
}

.gantt-line-bar {
  position: absolute;
  height: $gantt-line-bar-height;
  margin-top: (($gantt-line-height - $gantt-line-bar-height) / 2);

  border-radius: 2px;

  transition: left $gantt-animation-duration ease-out, width $gantt-animation-duration ease-out;

  // background + printable
  -webkit-print-color-adjust: exact;
  background: #6d94d3;
  color-adjust: exact;

  // bar-controls
  .bar-resize-l,
  .bar-resize-r {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 15px;
    // z-index: 1; // above this bar (above move)
    cursor: w-resize;
  }
  .bar-resize-r {
    left: auto;
    right: 0;
    cursor: e-resize;
  }

  &.gantt-line-bar-editable {
    cursor: move;
  }
}
.gantt-line-bar-content {
  position: absolute;
  color: #fff;
  font-size: 12px;
  padding: 2px 10px 0;
}

// inline-bar childs
.gantt-line-inline-childs {
  width: 100%;
  height: 20%;
  overflow: hidden;

  > div {
    // display: inline-block;
    float: left;
    height: 100%;
  }
}
.gantt-line-wrap.is-moving .gantt-line-bar ,
.gantt-line-wrap.is-resizing .gantt-line-bar  {

  &:before {
    position:absolute;
    top:-10px;
    bottom:-10px;
    left:-10px;
    right: -10px;
    background: blue;
    opacity: 0.5;
  }
}
.gantt-line-bar:before {
    position:absolute;
    top:-10px;
    bottom:-10px;
    left:-10px;
    right: -10px;
    background: blue;
    opacity: 0.5;
}


// ****************************
//
//        1st / 2nd level lines


.gantt-lines > .gantt-line-wrap {
  margin-bottom: 30px;
}


// line-childs (can be defined recursively)
.gantt-line-childs {
  .gantt-line,
  .gantt-line-title {
    height: round(2*$gantt-line-height/3);
  }
  .gantt-line-bar {
    background: #71b5a0;
    height: round((2 * $gantt-line-bar-height / 3) - 3);
  }
  .gantt-line-title span {
    font-size: 0.9em;
  }
}

