
@import "ember-bootstrap/bootstrap";

/**
 *
 *   GENERAL STYLINGS - dont use this
 *
 */
body {
	background: lightblue;
}
body, p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h1, h2, h3 {
  font-family: 'Roboto', serif;
  margin-top: 30px;
}
h1 {
  font-family: 'Roboto Slab', serif;
}

.navbar-brand small {
  font-family: 'Roboto Slab', serif;
  font-size: 9px;
  color: #666;
}




/**
 *
 *   GANTT STYLING: use and adjust this
 *
 */

// VARS
$gantt-animation-duration: 200ms;
$gantt-line-height: 40px;
$gantt-line-bar-height: 36px;
$gantt-line-title-width: 150px;

$gantt-border-color: #ccc;
$gantt-grid-border-color: #eee;
$gantt-weekend-background: #efefef;



// **************************
//   MAIN gantt-chart
// **************************

.gantt-chart {
  position: relative;
}
.gantt-chart-inner {
  overflow-x: scroll;
  overflow-y: hidden;

  background: #fff;
  border: 1px solid $gantt-border-color;
}


// header
// ------------------------

.gantt-chart-header {
  border-bottom: 1px solid $gantt-border-color;
  box-sizing: border-box;

  .gantt-line {
    height: auto;
    border-bottom: none;
  }
  .gantt-line-title {
    //height: auto;
    height: 60px;
  }
  .gantt-line-timeline-month {

  }
  .gantt-line-timeline .day {
    border-top: 1px solid $gantt-border-color;
    // border-bottom: 1px solid $gantt-border-color;
    // border-left: 1px solid $gantt-border-color;

    font-size: 12px;
    text-align: center;
  }
}


// vertical grid
// ------------------------

.gantt-chart-grid {
  position: relative;
  height: 100%;
}
.gantt-chart-grid-vertical {
  position: absolute;
  top: 0;
  height: 99999999px;

  .gantt-line,
  .gantt-line-timeline,
  .gantt-timeline-month,
  .gantt-timeline-days,
  .gantt-line-timeline .day  {
    height: 100%;
    min-height: 100%;
  }
}

// today
// ------------------------
.gant-timeline-today {
  position: absolute;
  top: 61px;
  height: 99999999px;
  margin-left: $gantt-line-title-width; // needs offset as absolute

  z-index: 2;

  border-left: 1px solid #444;

  > div {
    position: relative;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 7px solid #444;
  }
}




// **************************
//   TIMELINE
// **************************

// set timeline styles (e.g. borders etc.) here, so its applied for header + grid

.gantt-line-timeline {
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  margin-left: $gantt-line-title-width; // place for title

  .gantt-timeline-month {

  }

  .day {
    display: inline-block;
    height: 20px;
    // width: !!! width is set by chart-component globally (allows zooming)
    box-sizing: border-box; // ! important for calculations! border should not be calculated

    transition: width $gantt-animation-duration ease-out;

    background: #fff;
    // border-left: 1px solid transparent;
    // border-top: 1px solid $gantt-border-color;
    border-left: 1px solid $gantt-grid-border-color;
  }

  .day-weekend {
    background: $gantt-weekend-background;
  }
}

.gantt-timeline-month {
  display: inline-block;
  box-sizing: border-box; // ! important for calculations! border should not be calculated
}

.gantt-timeline-days {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.gantt-timeline-month-name {
  background: #fff;
  font-size: initial;

  span {
    padding: 10px;
    display: block;
    border-left: 1px solid $gantt-border-color;
  }
}



// **************************
//   LINE / BAR
// **************************

.gantt-line {
  height: $gantt-line-height;
  white-space: nowrap; // keep all in-line
  border: none;
  border-bottom: 1px solid $gantt-border-color;
}

.gantt-line-title {
  position: absolute;
  width: $gantt-line-title-width;
  z-index: 3;
  height: $gantt-line-height;

  background: #fff;

  span {
    display: block;
    padding: 3px 10px;
  }
}

.gantt-line-bar {
  position: absolute;
  height: $gantt-line-bar-height;
  margin-top: (($gantt-line-height - $gantt-line-bar-height) / 2);

  border-radius: 2px;

  transition: left $gantt-animation-duration ease-out, width $gantt-animation-duration ease-out;

  // background + printable
  -webkit-print-color-adjust: exact;
  background: #6d94d3;
  color-adjust: exact;

  // bar-controls
  .bar-resize-l,
  .bar-resize-r {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 15px;
    // z-index: 1; // above this bar (above move)
    cursor: w-resize;
  }
  .bar-resize-r {
    left: auto;
    right: 0;
  }

  &.gantt-line-bar-editable {
    cursor: move;
  }
}
.gantt-line-bar-content {
  position: absolute;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px 0;
}

// inline-bar childs
.gantt-line-inline-childs {
  width: 100%;
  height: 20%;
  overflow: hidden;

  > div {
    // display: inline-block;
    float: left;
    height: 100%;
  }
}

// ******** *********************
//
//        TIMELINE




// line-childs (can be defined recursively)
.gant-line-childs {
  .gantt-line {
    height: (2*$gantt-line-height/3);
  }
  .gantt-line-bar {
    background: #71b5a0;
    height: (2 * $gantt-line-bar-height / 3) - 1;
  }
  .gantt-line-title span {
    // padding-left: 10px;
    font-size: 0.9em;
    &:before {
      content: '–  ';
    }
  }
}





