
@import "ember-bootstrap/bootstrap";

/**
 *
 *   GENERAL STYLINGS - dont use this
 *
 */
body {
	background: lightblue;
}
body, p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h1, h2, h3 {
  font-family: 'Roboto', serif;
  margin-top: 30px;
}
h1 {
  font-family: 'Roboto Slab', serif;
}

.navbar-brand small {
  font-family: 'Roboto Slab', serif;
  font-size: 9px;
  color: #666;
}



@import 'addon/styles/addon.scss';



