

<div class="gantt-chart-inner">


  {{! timeline - header and grid }}
  {{gantt-timeline chart=this }}

  {{! lines and (recursive) sublines }}
  <div class="gantt-titles-background"></div>
  <div class="gantt-lines">
    {{yield (hash line=(component "gantt-line" chart=this )) }}
  </div>

</div>
