<h1>Introduction</h1>


<p class="lead">The reference will help you find attributes on the different components.</p>


<p>
  Basic usage of ember-gantt is quite easy and most special cases can be implemented by wrapping components or adjusting CSS styles.
  If you have special needs or experience problems, don't hesitate to create an issue on
  <a
    href="https://github.com/kockpit/ember-gantt/issues"
    target="_blank"
    rel="noopener"
  >
    Github
  </a>.
</p>