<BsNavbar @fluid={{true}} @backgroundColor="" @position="sticky-top" as |navbar|>

  <div class="navbar-header">
    {{navbar.toggle}}
    <LinkTo @route="index" class="navbar-brand">ember-gantt <small>v1.1.3</small></LinkTo>
  </div>

  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item> {{#nav.link-to "index"}}Home{{/nav.link-to}} </nav.item>
      <nav.item> {{#nav.link-to "getting-started"}}Getting Started{{/nav.link-to}} </nav.item>
      <nav.item> {{#nav.link-to "examples"}}Examples{{/nav.link-to}} </nav.item>
      <nav.item> {{#nav.link-to "docs"}}Reference{{/nav.link-to}} </nav.item>
    </navbar.nav>
  </navbar.content>

  <div class="pull-right">
    <a
      href="http://github.com/kockpit/ember-gantt"
      class="link-github"
      rel="noopener"
      target="_blank"
    >
      <img src="images/github.svg" alt="">
    </a>
  </div>

</BsNavbar>



{{outlet}}



