{{#bs-navbar fluid=true backgroundColor='' position="sticky-top"  as |navbar|}}

  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to 'index' class="navbar-brand"}}ember-gantt <small>v0.0.4</small>{{/link-to}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}} {{#nav.link-to "index"}}Home{{/nav.link-to}} {{/nav.item}}
      {{#nav.item}} {{#nav.link-to "getting-started"}}Getting Started{{/nav.link-to}} {{/nav.item}}
      {{#nav.item}} {{#nav.link-to "examples"}}Examples{{/nav.link-to}} {{/nav.item}}
      {{#nav.item}} {{#nav.link-to "docs"}}Reference{{/nav.link-to}} {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}

  <div class="pull-right">
    <a href="http://github.com/kockpit/ember-gantt" class="link-github" target="_blank">
      <img src="images/github.svg" />
    </a>
  </div>

{{/bs-navbar}}



  {{outlet}}



