
<div>

  <div class="container">

    <h1>examples</h1>

    {{#bs-nav type="pills" as |nav|}}

      {{#nav.item}}{{#nav.link-to "examples.infinity"}}infinity scrolling{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "examples.milestones"}}milestones{{/nav.link-to}}{{/nav.item}}

    {{/bs-nav}}
  </div>


  {{outlet}}

</div>
