
<div class="container">
  <h1>getting started</h1>



  <h3>1. install the addon</h3>
  <pre class="code"><code>ember install @kockpit/ember-gantt</code></pre>


  <h3 class="mt-5">2. prepare your data</h3>
  <p>
    For each line, you need a <code>dateStart</code> and a <code>dateEnd</code> attribute and may pass as well a <code>title</code>.
    Except the <code>inline-childs</code> component, where you need to pass an array of objects requiring attribute names {dateStart, dateEnd, title}, you are free as you pass dates to the components directly. In the addon, dates are automatically changed to UTC dates (midnight).<br>

    If you wish that parent lines automatically adjust to min-start-date and max-end-date of child lines, you can generate parent-objects using a mixin as shown here:
    <a href="https://github.com/kockpit/ember-gantt/blob/master/tests/dummy/app/mixins/min-max-child-dates-mixin.js" target="_blank" rel="noopener">https://github.com/kockpit/ember-gantt/blob/master/tests/dummy/app/mixins/min-max-child-dates-mixin.js</a><br>
    Applied here: <a href="https://github.com/kockpit/ember-gantt/blob/master/tests/dummy/app/services/demo-data.js#L33" target="_blank" rel="noopener">https://github.com/kockpit/ember-gantt/blob/master/tests/dummy/app/services/demo-data.js#L33</a>.
  </p>


  <h3 class="mt-5">3. gantt in style</h3>
  <p>
    Default styles are automatically loaded. You can easily override existing styles. Nearly everything (visually) can be changed via CSS.
  </p>


</div>
